@include desktop() {
  .container {
    width: $container-xxl;
  }
  .last_section {
    margin: 6rem auto;
    align-items: center;
    h2 {
      @include main_text_template($main-color, 3.6rem, 400, 3.6rem, 0.03rem);
      text-align: center;
      margin-bottom: 2.563rem;
    }
    .grid {
      display: grid;
      grid-template-columns: 300px 300px 300px;
      width: 900px;
      margin: 0.5rem auto;
      .item {
        margin: 0 auto;
        .main-grid-image {
          width: 260px;
          margin: auto auto;
        }
        .item-info {
          padding: 1.5rem;
          align-items: center;
          .item-sub-text {
            p {
              @include main_text_template(
                $main-color,
                0.875rem,
                400,
                1rem,
                0.03rem
              );
              margin-right: 0.5rem;
            }
            span {
              @include main_text_template(
                $main-color,
                0.925rem,
                700,
                1rem,
                0.03rem
              );
            }
            margin-right: 1rem;
          }
          .item-sub-icons {
            .sub-icon-1 {
              padding: 0.625rem;
              margin-right: 0.5rem;
            }
            .sub-icon-2 {
              padding: 0.625rem 0.8rem;
              border-radius: 1.875rem;
            }
          }
        }
      }
    }
    .container {
      .gallery_link {
        @include main_text_template(#fff, 0.875rem, 700, 1rem, 0.03rem);
        margin: 3.75rem auto;
        padding: 1rem 2rem;
        border-radius: 0.3rem;
        &:hover {
          font-size: 0.975rem;
          border-radius: 1.5rem;
        }
      }
    }

    .accordion {
      padding: 1rem 2rem;
      a {
        &::after {
          height: 2.5px;
          bottom: -1.63px;
        }
      }
    }

    .accordionMenu {
      width: auto;
      margin: 0 auto;

      label {
        p {
          font-size: 1.3rem;
        }
      }

      .content {
        max-height: 0;
        height: 0;
        overflow: hidden;
        transition: all 2s ease-in-out;

        .inner {
          width: 90%;
          margin-left: 3rem;
          h3 {
            font-size: 1.2rem;
          }
          .inner-list-content {
            ol {
              li {
                font-size: 1.1rem;
              }
              &:hover {
                li {
                  margin: 0.3rem 0;
                }
              }
            }
            .list-gallery {
              transition: width 0.7s;
              img {
                width: 100px;
              }
              &:hover {
                width: 35%;
                img {
                  width: 90px;
                }
              }
            }
          }
          p {
            width: auto;
            font-size: 1.1rem;
            color: #2c97de;
            padding: 20px 10px;
          }
        }
      }
    }
  }
}

@include laptop() {
  .container {
    width: $container-xl;
  }
  .last_section {
    margin: 6rem auto;
    align-items: center;
    h2 {
      @include main_text_template($main-color, 3.2rem, 400, 3.2rem, 0.03rem);
      text-align: center;
      margin-bottom: 2.563rem;
    }
    .grid {
      display: grid;
      grid-template-columns: 15rem 15rem 15rem;
      width: 720px;
      .item {
        .main-grid-image {
          width: 210px;
        }
        .item-info {
          .item-sub-text {
            p {
              @include main_text_template(
                $main-color,
                0.875rem,
                400,
                1rem,
                0.03rem
              );
              margin-right: 0.5rem;
            }
            span {
              @include main_text_template(
                $main-color,
                0.925rem,
                700,
                1rem,
                0.03rem
              );
            }
            margin-right: 1rem;
          }
          .item-sub-icons {
            .sub-icon-1 {
              padding: 0.5rem;
              margin-right: 0.5rem;
            }
            .sub-icon-2 {
              padding: 0.5rem 0.675rem;
              border-radius: 1.875rem;
            }
          }
        }
      }
    }
    .container {
      .gallery_link {
        @include main_text_template(#fff, 0.775rem, 700, 0.875rem, 0.03rem);
        margin: 3.75rem auto;
        padding: 0.725rem 1.725rem;
        border-radius: 0.3rem;
        &:hover {
          font-size: 0.875rem;
          border-radius: 1.5rem;
        }
      }
    }
    .accordion {
      padding: 1rem 2rem;
      h3 {
        font-size: 2.8rem;
      }
      a {
        &::after {
          height: 2.5px;
          bottom: -1.63px;
        }
      }
    }

    .accordionMenu {
      width: auto;
      margin: 0 auto;

      label {
        p {
          font-size: 1.125rem;
        }
        img {
          width: 1.4rem;
        }
      }

      .content {
        .inner {
          width: 90%;
          margin-left: 2.6rem;
          h3 {
            font-size: 1.2rem;
          }
          .inner-list-content {
            ol {
              li {
                font-size: 1rem;
              }
              &:hover {
                li {
                  margin: 0.3rem 0;
                }
              }
            }
            .list-gallery {
              transition: width 0.7s;
              img {
                width: 85px;
              }
              &:hover {
                width: 37%;
                img {
                  width: 70px;
                }
              }
            }
          }
          p {
            width: auto;
            font-size: 0.925rem;
            color: #2c97de;
            padding: 20px 10px;
          }
        }
      }
    }
  }
}

@include tablet() {
  .container {
    width: $container-md;
  }
  .last_section {
    margin: 6rem auto;
    align-items: center;
    h2 {
      @include main_text_template($main-color, 3.2rem, 400, 3.2rem, 0.03rem);
      text-align: center;
      margin-bottom: 2.563rem;
    }
    .grid {
      display: grid;
      grid-template-columns: 14.6875rem 14.6875rem;
      grid-template-rows: auto auto auto;
      width: 470px;
      .item {
        .main-grid-image {
          width: 170px;
        }
        .item-info {
          padding: 1rem 0.5rem;
          .item-sub-text {
            flex-direction: column;
            text-align: left;
            p {
              @include main_text_template(
                $main-color,
                0.825rem,
                400,
                1rem,
                0.03rem
              );
              margin-bottom: 0.3rem;
            }
            span {
              @include main_text_template(
                $main-color,
                0.825rem,
                700,
                0.825rem,
                0.03rem
              );
            }
            margin-right: 0.7rem;
          }
          .item-sub-icons {
            .sub-icon-1 {
              padding: 0.4rem;
              margin-right: 0.4rem;
              img {
                width: 16px;
                object-fit: contain;
              }
            }
            .sub-icon-2 {
              padding: 0.5rem 0.675rem;
              border-radius: 1.875rem;
              img {
                width: 10px;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
    .container {
      .gallery_link {
        @include main_text_template(#fff, 0.7rem, 700, 0.875rem, 0.03rem);
        margin: 3.75rem auto;
        padding: 0.625rem 1.5rem;
        border-radius: 0.3rem;
        &:hover {
          font-size: 0.775rem;
          border-radius: 1.5rem;
        }
      }
    }

    .accordion {
      h3 {
        font-size: 2rem;
      }
    }

    .accordionMenu {
      label {
        p {
          color: #2f2f2f;
          padding: 1.6rem;
          font-size: 1.1rem;
          display: block;
        }

        img {
          display: block;
          width: 1.2rem;
          object-fit: contain;
          transition: all 0.3s ease-in-out;
        }
      }

      .content {
        max-height: 0;
        height: 0;
        overflow: hidden;
        transition: all 2s ease-in-out;

        .inner {
          width: 90%;
          margin-left: 2.2rem;
          h3 {
            font-size: 1rem;
            font-weight: 500;
          }
          .inner-list-content {
            width: 100%;
            ol {
              margin: 1rem 1.6rem;
              li {
                font-size: 0.925rem;
              }
              &:hover {
                li {
                  margin: 0.3rem 0;
                }
              }
            }
            .list-gallery {
              width: 25%;
              .card_2 {
                display: none;
              }
              .card_3 {
                display: none;
              }
            }
          }
          p {
            width: auto;
            font-size: 0.925rem;
            color: #2c97de;
            padding: 10px;
          }
        }
      }

      input[type="checkbox"]:checked + label img {
        transform: rotate(180deg);
      }

      input[type="checkbox"]:checked + label + .content {
        max-height: 2000px;
        height: auto;
      }

      input[type="checkbox"]:not(:checked) + label + .content {
        max-height: 0;
        height: auto;
        transition: all 0.6s;
      }
    }
  }
}

@include mobile() {
  .container {
    width: 3$container-sm;
  }
  .last_section {
    margin: 6rem auto;
    align-items: center;
    h2 {
      @include main_text_template($main-color, 2rem, 400, 2rem, 0.03rem);
      text-align: center;
      margin-bottom: 2.563rem;
    }
    .grid {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto auto;
      width: 300px;
      .item-5 {
        display: none;
      }
      .item-6 {
        display: none;
      }
      .item {
        .main-grid-image {
          width: 170px;
        }
        .item-info {
          padding: 1rem 0.5rem;
          .item-sub-text {
            flex-direction: column;
            text-align: left;
            p {
              @include main_text_template(
                $main-color,
                0.825rem,
                400,
                1rem,
                0.03rem
              );
              margin-bottom: 0.3rem;
            }
            span {
              @include main_text_template(
                $main-color,
                0.825rem,
                700,
                0.825rem,
                0.03rem
              );
            }
            margin-right: 0.7rem;
          }
          .item-sub-icons {
            .sub-icon-1 {
              padding: 0.4rem;
              margin-right: 0.4rem;
              img {
                width: 16px;
                object-fit: contain;
              }
            }
            .sub-icon-2 {
              padding: 0.5rem 0.675rem;
              border-radius: 1.875rem;
              img {
                width: 10px;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
    .container {
      .gallery_link {
        @include main_text_template(#fff, 0.625rem, 700, 0.6rem, 0.03rem);
        margin: 3.75rem auto;
        padding: 0.5rem 1rem;
        border-radius: 0.3rem;
        &:hover {
          font-size: 0.775rem;
          border-radius: 1.5rem;
        }
      }
    }
    .accordion {
      h3 {
        font-size: 1.8rem;
      }
    }

    .accordionMenu {
      label {
        p {
          padding: 1.6rem;
          font-size: 1rem;
        }

        img {
          display: block;
          width: 1rem;
        }
      }

      .content {
        .inner {
          width: 100%;
          margin-left: 2.2rem;
          h3 {
            font-size: 0.975rem;
            font-weight: 500;
          }
          .inner-list-content {
            width: 100%;
            ol {
              margin: 1rem 1.6rem;
              li {
                font-size: 0.925rem;
              }
              &:hover {
                li {
                  margin: 0.3rem 0;
                }
              }
            }
            .list-gallery {
              display: none;
            }
          }
          p {
            font-size: 0.875rem;
          }
        }
      }
    }
  }
}
