@mixin desktop() {
  @media screen and (max-width: $breakpoint_xxl) {
    @content;
  }
}

@mixin laptop() {
  @media screen and (max-width: $breakpoint_xl) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (max-width: $breakpoint_md) {
    @content;
  }
}

@mixin mobile() {
  @media screen and (max-width: $breakpoint_sm) {
    @content;
  }
}

@mixin main_text_template($main-color, $fz, $fw, $lh, $ls) {
  color: $main-color;
  font-size: $fz;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}
