$breakpoint_xxl: 1200px;
$breakpoint_xl: 992px;
$breakpoint_md: 768px;
$breakpoint_sm: 576px;

$default-color: #fff;
$main-color: #2f2f2f;
$second-color: #ff7f96;
$liquid-color: #82cbac;
$second-liquid-color: #ead71b;
