@include desktop() {
  .container {
    width: $container-xxl;
  }
  .hero_offer {
    padding: 3.125rem 0 2.25rem;
    .offer {
      h1 {
        @include main_text_template($main-color, 3.2rem, 400, 3.5rem, 0.03rem);
        margin: 0 4rem 1rem 0;
      }
    }
    .hero {
      width: auto;
      .main_character {
        left: 129px;
        .main_character_image {
          .main_char {
            width: 320px;
            object-fit: contain;
          }
          .supp_info_main {
            padding: 0.438rem 0.875rem 0.438rem 0.688rem;
            left: -85px;
            bottom: 25px;
            img {
              width: 34px;
              object-fit: contain;
              margin-right: 0.5rem;
            }
            .text {
              p {
                @include main_text_template(
                  $main-color,
                  0.925rem,
                  400,
                  0.925rem,
                  0.03rem
                );
              }
              span {
                @include main_text_template(
                  $main-color,
                  0.625rem,
                  400,
                  0.875rem,
                  0.03rem
                );
              }
            }
          }
        }
      }
      .second_character {
        .second_character_image {
          .second_char {
            width: 265px;
            object-fit: contain;
          }
          .supp_info {
            left: -55px;
            padding: 0.438rem 0.313rem 0.438rem 0.688rem;
          }
        }
      }
    }
  }
}

@include laptop() {
  .container {
    width: $container-xl;
  }
  .hero_offer {
    flex-direction: column;
    padding: 1.125rem 0 4.25rem;
    .offer {
      margin: 1.375rem 0 4rem;
      span {
        @include main_text_template(
          $liquid-color,
          0.713rem,
          400,
          0.875rem,
          0rem
        );
        margin-left: -3.75rem;
      }
      h1 {
        @include main_text_template($main-color, 2.8rem, 400, 2.8rem, 0.03rem);
        margin: 0 4rem 1rem -1.875rem;
      }
      p {
        @include main_text_template(
          $main-color,
          0.875rem,
          400,
          1.2rem,
          0.03rem
        );
        margin-left: 0.625rem;
      }
    }
    .hero {
      width: 520px;
      height: 360px;
      .main_character {
        left: 230px;
        top: 60px;
        .main_character_image {
          .main_char {
            width: 280px;
            object-fit: contain;
          }
          .supp_info_main {
            left: -85px;
            bottom: 10px;
            .text {
              p {
                @include main_text_template(
                  $main-color,
                  0.875rem,
                  400,
                  0.925rem,
                  0.03rem
                );
              }
              span {
                @include main_text_template(
                  $main-color,
                  0.6rem,
                  400,
                  0.875rem,
                  0.03rem
                );
              }
            }
          }
        }
      }
      .second_character {
        left: 50px;
        .second_character_image {
          .second_char {
            width: 225px;
            object-fit: contain;
          }
          .supp_info {
            top: 15px;
            left: -55px;
            padding: 0.438rem 0.583rem 0.438rem 0.688rem;
          }
        }
      }
    }
  }
}

@include tablet() {
  .container {
    width: $container-md;
  }
  .hero_offer {
    flex-direction: column;
    padding: 1.125rem 0 4.25rem;
    .offer {
      margin: 0.875rem 0 3rem;
      span {
        @include main_text_template(
          $liquid-color,
          0.713rem,
          400,
          0.875rem,
          0rem
        );
        margin-left: 1rem;
      }
      h1 {
        @include main_text_template($main-color, 2.6rem, 400, 2.6rem, 0.03rem);
        margin: 0 4rem 1rem 2rem;
      }
      p {
        @include main_text_template(
          $main-color,
          0.875rem,
          400,
          1.2rem,
          0.03rem
        );
        margin-left: 2.3rem;
      }
    }
    .hero {
      width: 520px;
      height: 360px;
      .main_character {
        left: 210px;
        top: 45px;
        .main_character_image {
          .main_char {
            width: 260px;
            object-fit: contain;
          }
          .supp_info_main {
            padding: 0.438rem 0.875rem 0.438rem 0.688rem;
            left: -85px;
            bottom: 10px;
            img {
              width: 34px;
              object-fit: contain;
              margin-right: 0.5rem;
            }
            .text {
              p {
                @include main_text_template(
                  $main-color,
                  0.875rem,
                  400,
                  0.925rem,
                  0.03rem
                );
              }
              span {
                @include main_text_template(
                  $main-color,
                  0.6rem,
                  400,
                  0.875rem,
                  0.03rem
                );
              }
            }
          }
        }
      }
      .second_character {
        left: 80px;
        .second_character_image {
          .second_char {
            width: 205px;
            object-fit: contain;
          }
          .supp_info {
            top: 15px;
            left: -55px;
            padding: 0.438rem 0.583rem 0.438rem 0.688rem;
          }
        }
      }
    }
  }
}

@include mobile() {
  .container {
    width: $container-sm;
  }
  .hero_offer {
    flex-direction: column;
    padding: 0.6rem 0 0.25rem;
    .offer {
      margin: 0.875rem 0 1.5rem;
      span {
        @include main_text_template(
          $liquid-color,
          0.475rem,
          400,
          0.725rem,
          0rem
        );
        margin-left: 2rem;
      }
      h1 {
        @include main_text_template($main-color, 1.5rem, 400, 1.5rem, 0.03rem);
        margin: 0 4rem 0.2rem 3rem;
      }
      p {
        @include main_text_template(
          $main-color,
          0.575rem,
          400,
          0.625rem,
          0.03rem
        );
        margin-left: 3.5rem;
      }
    }
    .hero {
      width: 290px;
      height: 360px;
      .main_character {
        left: 110px;
        top: 110px;
        .main_character_image {
          .main_char {
            width: 175px;
            object-fit: contain;
          }
          .supp_info_main {
            padding: 0.3rem 0.5rem 0.3rem 0.3rem;
            left: -40px;
            bottom: 10px;
            img {
              width: 20px;
              object-fit: contain;
              margin-right: 0.2rem;
            }
            .text {
              p {
                @include main_text_template(
                  $main-color,
                  0.525rem,
                  400,
                  0.575rem,
                  0.03rem
                );
              }
              span {
                @include main_text_template(
                  $main-color,
                  0.475rem,
                  400,
                  0.7rem,
                  0.03rem
                );
              }
            }
          }
        }
      }
      .second_character {
        left: 149px;
        .second_character_image {
          .second_char {
            width: 135px;
            object-fit: contain;
          }
          .supp_info {
            top: 10px;
            left: -40px;
            padding: 0.3rem 0.4rem 0.3rem 0.688rem;
            img {
              width: 18px;
              object-fit: contain;
              margin-right: 0.2rem;
            }
            .text {
              margin: auto auto;
              p {
                @include main_text_template(
                  $main-color,
                  0.475rem,
                  400,
                  0.45rem,
                  0.03rem
                );
              }
              span {
                @include main_text_template(
                  $main-color,
                  0.45rem,
                  400,
                  0.45rem,
                  0.03rem
                );
              }
            }
          }
        }
      }
    }
  }
}
