@include desktop() {
  .container {
    width: 960px;
  }
  .header {
    .navbar {
      width: 15rem;
      margin-right: 16rem;
    }
    .header_social {
      margin-right: 2.5rem;
    }
    .header_btn {
      a {
        width: 7rem;
        padding: 0.875rem;
        font-size: 0.875rem;
      }
    }
  }
}

@include laptop() {
  .container {
    width: 760px;
  }
  .header {
    margin: 1.063rem auto 1.8rem;
    .navbar {
      width: 12rem;
      margin-right: 14rem;
    }
    .header_social {
      display: none;
    }
    .header_btn {
      a {
        width: 8rem;
        padding: 0.875rem;
        font-size: 0.875rem;
      }
    }
  }
}

@include tablet() {
  .container {
    width: 520px;
  }
  .header {
    margin: 1.063rem auto 1.4rem;
    display: flex;
    justify-content: space-between;
    .navbar {
      display: none;
    }
    .header_social {
      display: none;
    }
    .header_btn {
      display: none;
    }
    .humburger {
      .menu {
        display: block;
      }
    }
  }
}

@include mobile() {
  .container {
    width: 420px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    .navbar {
      display: none;
    }
    .header_social {
      display: none;
    }
    .header_btn {
      display: none;
    }
    .humburger {
      .menu {
        display: block;
      }
    }
  }
}
