@include desktop() {
  .container {
    width: $container-xxl;
  }
  .header {
    .navbar {
      width: 15rem;
      margin-right: 16rem;
    }
    .header_social {
      margin-right: 2.5rem;
    }
    .header_btn {
      a {
        width: 7rem;
        padding: 0.875rem;
        font-size: 0.875rem;
      }
    }
  }
}

@include laptop() {
  .container {
    width: $container-xl;
  }
  .header {
    margin: 1.063rem auto 1.8rem;
    .navbar {
      width: 12rem;
      margin-right: 12rem;
    }
    .header_social {
      display: none;
    }
    .header_btn {
      a {
        width: 7rem;
        padding: 0.725rem;
        font-size: 0.775rem;
      }
    }
  }
}

@include tablet() {
  .container {
    width: $container-md;
  }
  .header {
    margin: 1.063rem auto 1.4rem;
    padding: 0.6rem 1.75rem;
    display: flex;
    justify-content: space-between;
    .navbar {
      display: none;
    }
    .header_social {
      display: none;
    }
    .header_btn {
      display: none;
    }
    .humburger {
      .menu {
        display: block;
      }
    }
  }
}

@include mobile() {
  .container {
    width: $container-sm;
  }
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0.275rem 1.75rem;
    .logo_image {
      width: 72px;
      object-fit: contain;
    }
    .navbar {
      display: none;
    }
    .header_social {
      display: none;
    }
    .header_btn {
      display: none;
    }
    .humburger {
      .menu {
        display: block;
        svg {
          margin-bottom: -5px;
        }
      }
    }
  }
}
