@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

img,
p,
span,
a {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 1130px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.header {
  margin: 1.063rem auto 3.938rem;
  padding: 1.188rem 1.75rem;
  box-shadow: 0px -1px 19px 0px rgba(0, 0, 0, 0.12);
  border-radius: 1.875rem;
}
.header .logo_image {
  margin-right: 3rem;
}
.header .navbar {
  width: 16.063rem;
  margin-right: 23.5rem;
}
.header .navbar ul li a {
  position: relative;
  display: inline;
  color: #2f2f2f;
  transition: text-decoration 0.6s;
}
.header .navbar ul li a::after {
  content: "";
  position: absolute;
  background-color: #82cbac;
  height: 2.5px;
  left: 0;
  width: 0;
  bottom: -1.63px;
  transition: 0.3s;
}
.header .navbar ul li a:hover::after {
  width: 100%;
}
.header .header_social {
  width: 5.25rem;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-right: 3rem;
}
.header .header_social img {
  transition: transform 300ms ease-out 38ms;
}
.header .header_social img:hover {
  transform: rotate(360deg) translate(0px, 0px) scale(1.3, 1.3);
}
.header .header_btn a {
  display: inline;
  width: 9rem;
  background-color: #2f2f2f;
  border-radius: 1.25rem;
  padding: 0.938rem;
  color: #fff;
}

.hero_offer {
  padding: 3.125rem 0 11.25rem;
}
.hero_offer .offer {
  margin: 12.375rem 0 19.375rem;
}
.hero_offer .offer span {
  color: #82cbac;
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 0.875rem;
  letter-spacing: 0rem;
}
.hero_offer .offer h1 {
  color: #2f2f2f;
  font-size: 4rem;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0.03rem;
  margin: 0 2rem 1.563rem 0;
}
.hero_offer .offer p {
  color: #2f2f2f;
  font-size: 1.063rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0.03rem;
}
.hero_offer .hero {
  position: relative;
  width: 560px;
  height: 600px;
}
.hero_offer .hero .main_character {
  position: absolute;
  top: 100px;
  left: 169px;
  z-index: 1;
}
.hero_offer .hero .main_character .main_character_image {
  position: relative;
}
.hero_offer .hero .main_character .main_character_image .supp_info_main {
  position: absolute;
  padding: 0.438rem 0.813rem 0.438rem 0.688rem;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px -4px 19px 0px rgba(0, 0, 0, 0.03);
  left: -100px;
  bottom: 25px;
}
.hero_offer .hero .main_character .main_character_image .supp_info_main img {
  margin-right: 0.75rem;
}
.hero_offer .hero .main_character .main_character_image .supp_info_main .text {
  margin: auto auto;
}
.hero_offer .hero .main_character .main_character_image .supp_info_main .text p {
  color: #2f2f2f;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.03rem;
}
.hero_offer .hero .main_character .main_character_image .supp_info_main .text span {
  color: #2f2f2f;
  font-size: 0.688rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.03rem;
}
.hero_offer .hero .second_character {
  position: absolute;
}
.hero_offer .hero .second_character .second_character_image {
  position: relative;
}
.hero_offer .hero .second_character .second_character_image .supp_info {
  position: absolute;
  padding: 0.438rem 0.813rem 0.438rem 0.688rem;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px -4px 19px 0px rgba(0, 0, 0, 0.03);
  left: -75px;
  top: 22px;
}
.hero_offer .hero .second_character .second_character_image .supp_info img {
  margin-right: 0.313rem;
}
.hero_offer .hero .second_character .second_character_image .supp_info .text {
  margin: auto auto;
}
.hero_offer .hero .second_character .second_character_image .supp_info .text p {
  color: #2f2f2f;
  font-size: 0.688rem;
  font-weight: 400;
  line-height: 0.688rem;
  letter-spacing: 0.03rem;
}
.hero_offer .hero .second_character .second_character_image .supp_info .text span {
  color: #2f2f2f;
  font-size: 0.563rem;
  font-weight: 400;
  line-height: 0.688rem;
  letter-spacing: 0.03rem;
}

.second_section {
  padding: 5.625rem 3rem;
}
.second_section .main_text h2 {
  color: #2f2f2f;
  font-size: 4rem;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0.03rem;
  margin-bottom: 1.563rem;
  text-align: center;
}
.second_section .main_text p {
  color: #2f2f2f;
  font-size: 1.063rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0.03rem;
  margin-bottom: 2rem;
  text-align: center;
}
.second_section .under_text_info {
  padding: 2.5rem 0;
  transition: opacity 1s ease;
}
.second_section .under_text_info .buttons {
  width: auto;
  height: fit-content;
}
.second_section .under_text_info .buttons a {
  width: auto;
  margin-right: 0.725rem;
  padding: 0.675rem 4.063rem;
  border: 1px solid #2f2f2f;
  border-radius: 1.875rem;
  font-size: 1.375rem;
  text-align: center;
  color: #2f2f2f;
  transition: background-color 1s ease, color 0.6s ease, border-radius 1s ease, border 0.9s ease;
}
.second_section .under_text_info .buttons a:hover {
  background-color: #2f2f2f;
  color: #fff;
  border-radius: 1.2rem;
}
.second_section .under_text_info .second_hero_container {
  padding-top: 4rem;
}
.second_section .under_text_info .second_hero_container img {
  margin: 0 7rem;
  width: auto;
  object-fit: contain;
}
.second_section .under_text_info .second_hero_container .aside_text {
  width: 49%;
  padding: 2.938rem 1rem 1rem 0;
}
.second_section .under_text_info .second_hero_container .aside_text span {
  color: #ff7f96;
  font-size: 1rem;
  font-weight: 400;
  line-height: 0rem;
  letter-spacing: 0.03rem;
  margin-bottom: 0.875rem;
}
.second_section .under_text_info .second_hero_container .aside_text h3 {
  color: #2f2f2f;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: 0.03rem;
  margin-bottom: 1.313rem;
}
.second_section .under_text_info .second_hero_container .aside_text p {
  color: #2f2f2f;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.03rem;
}

.third_section {
  padding-bottom: 11.563rem;
}
.third_section .top_side {
  margin-bottom: 5.25rem;
}
.third_section .top_side img {
  width: auto;
}
.third_section .top_side .text {
  width: 48%;
  padding: 3.563rem 0.625rem 0 3rem;
}
.third_section .top_side .text span {
  color: #2f2f2f;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.6rem;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  margin-top: 0.5rem;
}
.third_section .top_side .text h2 {
  color: #2f2f2f;
  font-size: 3rem;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0.03rem;
  margin-bottom: 2.375rem;
}
.third_section .top_side .text p {
  color: #2f2f2f;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0.03rem;
  margin-bottom: 2rem;
}
.third_section .top_side .text a {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.03rem;
  text-align: center;
  padding: 1rem 2.5rem;
  width: fit-content;
  background-color: #2f2f2f;
  border-radius: 0.4rem;
  transform: translateX(290px);
  transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.third_section .top_side .text a:hover {
  font-size: 1.15rem;
  border-radius: 1.5rem;
}
.third_section .bottom_side .text {
  width: 48%;
  padding: 4rem 5.625rem 3.75rem 3.75rem;
}
.third_section .bottom_side .text .text__block span {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.03rem;
  background-color: #82cbac;
  border-radius: 1.875rem;
  padding: 0.5rem 1.25rem;
  width: 3.75rem;
  margin-bottom: 0.375rem;
}
.third_section .bottom_side .text .text__block .color__02 {
  background-color: #ff7f96;
}
.third_section .bottom_side .text .text__block .color__03 {
  background-color: #ead71b;
}
.third_section .bottom_side .text .text__block h2 {
  color: #2f2f2f;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.03rem;
  margin-bottom: 0.875rem;
}
.third_section .bottom_side .text .text__block p {
  color: #2f2f2f;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0.03rem;
  margin-bottom: 2rem;
}
.third_section .bottom_side img:nth-of-type(2) {
  display: none;
}
.third_section .bottom_side img:nth-of-type(3) {
  display: none;
}

.fourth_section {
  margin: 5.938rem auto;
}
.fourth_section .gallery h2 {
  color: #2f2f2f;
  font-size: 4rem;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0.03rem;
  margin-bottom: 4.563rem;
  text-align: center;
}
.fourth_section .gallery .cards {
  margin-bottom: 4rem;
}
.fourth_section .gallery .cards .card img {
  margin-bottom: 1.813rem;
  object-fit: contain;
  width: 330px;
}
.fourth_section .gallery .cards .card a {
  color: #2f2f2f;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 1.625rem;
  letter-spacing: 0.03rem;
  margin-left: 1.813rem;
}
.fourth_section .gallery .cards .card .left_anim {
  transform: translateY(0) translateX(0);
  transition: all 0.2s linear;
}
.fourth_section .gallery .cards .card .left_anim:hover {
  transform: translateY(-15px) translateX(-15px);
  scale: 105%;
}
.fourth_section .gallery .cards .card .center_anim {
  transform: translateY(0) translateX(0);
  transition: all 0.2s linear;
}
.fourth_section .gallery .cards .card .center_anim:hover {
  transform: translateY(-10px) translateY(-10px);
  scale: 105%;
}
.fourth_section .gallery .cards .card .right_anim {
  transform: translateY(0) translateX(0);
  transition: all 0.2s linear;
}
.fourth_section .gallery .cards .card .right_anim:hover {
  transform: translateX(15px) translateY(-15px);
  scale: 105%;
}
.fourth_section .gallery .btn {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.03rem;
  text-align: center;
  width: fit-content;
  margin: 3.75rem auto;
  background-color: #2f2f2f;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.fourth_section .gallery .btn:hover {
  font-size: 0.975rem;
  border-radius: 1.5rem;
}

.last_section {
  margin: 6rem auto;
  align-items: center;
}
.last_section h2 {
  color: #2f2f2f;
  font-size: 4rem;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0.03rem;
  text-align: center;
  margin-bottom: 1.563rem;
}
.last_section .grid {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto auto;
  width: 1100px;
  margin: 0.5rem auto;
}
.last_section .grid .item {
  margin: 0 auto;
}
.last_section .grid .item .main-grid-image {
  width: 300px;
  object-fit: contain;
}
.last_section .grid .item .item-info {
  padding: 1.5rem;
  align-items: center;
}
.last_section .grid .item .item-info .item-sub-text p {
  color: #2f2f2f;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: 0.03rem;
  margin-right: 0.5rem;
}
.last_section .grid .item .item-info .item-sub-text span {
  color: #2f2f2f;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.125rem;
  letter-spacing: 0.03rem;
}
.last_section .grid .item .item-info .item-sub-icons .sub-icon-1 {
  background-color: rgba(168, 193, 216, 0.2);
  padding: 0.625rem;
  margin-right: 0.5rem;
}
.last_section .grid .item .item-info .item-sub-icons .sub-icon-2 {
  padding: 0.625rem 0.8rem;
  background-color: #ff7f96;
  border-radius: 1.875rem;
}
.last_section .container .gallery_link {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1rem;
  letter-spacing: 0.03rem;
  text-align: center;
  width: fit-content;
  margin: 3.75rem auto;
  background-color: #2f2f2f;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.last_section .container .gallery_link:hover {
  font-size: 0.975rem;
  border-radius: 1.5rem;
}

.first_sub__section {
  overflow: hidden;
  position: relative;
}
.first_sub__section .infinity_anim {
  display: flex;
  animation: scroll 40s linear infinite;
}
.first_sub__section .infinity_anim img {
  width: auto;
  object-fit: contain;
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.second_sub__section {
  overflow: hidden;
  width: auto;
  background-color: #82cbac;
  padding: 4.438rem 6rem;
}
.second_sub__section .container h2 {
  color: #2f2f2f;
  font-size: 4rem;
  font-weight: 400;
  line-height: 4rem;
  letter-spacing: 0.03rem;
  margin-bottom: 2rem;
}
.second_sub__section .container p {
  color: #2f2f2f;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: 0.03rem;
  margin-bottom: 3rem;
}
.second_sub__section .container a {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.03rem;
  background-color: #2f2f2f;
  width: fit-content;
  padding: 1rem 2.5rem;
  transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.second_sub__section .container a:hover {
  font-size: 1.15rem;
  border-radius: 1.5rem;
}

.accordion h3 {
  font-weight: 400;
  font-size: 4rem;
  color: #2f2f2f;
  text-align: left;
}
.accordion a {
  position: relative;
  display: inline;
  color: #ff7f96;
  transition: text-decoration 0.6s;
}
.accordion a::after {
  content: "";
  position: absolute;
  background-color: #82cbac;
  height: 2.5px;
  left: 0;
  width: 0;
  bottom: -1.63px;
  transition: 0.3s;
}
.accordion a:hover::after {
  width: 100%;
}

.accordionMenu {
  width: auto;
  margin: 0 auto;
}
.accordionMenu input[type=checkbox] {
  display: none;
}
.accordionMenu label {
  cursor: pointer;
}
.accordionMenu label p {
  color: #2f2f2f;
  padding: 2rem 1.6rem;
  font-size: 22px;
  display: block;
}
.accordionMenu label img {
  display: block;
  width: 1.6rem;
  object-fit: contain;
  transition: all 0.3s ease-in-out;
}
.accordionMenu .content {
  max-height: 0;
  height: 0;
  overflow: hidden;
  transition: all 2s ease-in-out;
}
.accordionMenu .content .inner {
  width: 90%;
  margin-left: 3rem;
}
.accordionMenu .content .inner h3 {
  font-size: 1.4rem;
  font-weight: 500;
}
.accordionMenu .content .inner .inner-list-content {
  width: 100%;
}
.accordionMenu .content .inner .inner-list-content ol {
  margin: 2rem 3rem;
}
.accordionMenu .content .inner .inner-list-content ol li {
  list-style: decimal;
  font-size: 1.15rem;
  transition: margin 0.6s;
}
.accordionMenu .content .inner .inner-list-content ol:hover li {
  margin: 0.3rem 0;
}
.accordionMenu .content .inner .inner-list-content .list-gallery {
  width: 45%;
  margin-right: 10%;
  transition: width 0.7s;
}
.accordionMenu .content .inner .inner-list-content .list-gallery img {
  width: 120px;
  object-fit: contain;
  transition: width 0.7s;
}
.accordionMenu .content .inner .inner-list-content .list-gallery:hover {
  width: 37%;
}
.accordionMenu .content .inner .inner-list-content .list-gallery:hover img {
  width: 105px;
}
.accordionMenu .content .inner p {
  width: auto;
  font-size: 1.2rem;
  color: #2c97de;
  padding: 20px 10px;
}
.accordionMenu input[type=checkbox]:checked + label img {
  transform: rotate(180deg);
}
.accordionMenu input[type=checkbox]:checked + label + .content {
  max-height: 2000px;
  height: auto;
}
.accordionMenu input[type=checkbox]:not(:checked) + label + .content {
  max-height: 0;
  height: auto;
  transition: all 0.6s;
}

footer .main_footer {
  padding: 6rem 4rem 1.563rem;
}
footer .main_footer .main_column {
  height: fit-content;
}
footer .main_footer .main_column img {
  margin-bottom: 3rem;
}
footer .main_footer .main_column p {
  color: #2f2f2f;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.03;
  margin-bottom: 1.2rem;
}
footer .main_footer .main_column .social_images {
  width: 55%;
}
footer .main_footer .main_column .social_images img {
  transition: transform 300ms ease-out 38ms;
}
footer .main_footer .main_column .social_images img:hover {
  transform: rotate(360deg) translate(0px, 0px) scale(1.3, 1.3);
}
footer .main_footer .info_column {
  height: fit-content;
}
footer .main_footer .info_column h3 {
  color: #2f2f2f;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.03rem;
  margin-bottom: 1rem;
}
footer .main_footer .info_column a {
  color: #2f2f2f;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.03rem;
  margin-bottom: 0.5rem;
}
footer .main_footer .info_column a:hover {
  color: #82cbac;
  font-style: italic;
}
footer .main_footer .form_column {
  display: block;
  margin-bottom: 7.375rem;
}
footer .main_footer .form_column h2 {
  color: #2f2f2f;
  font-size: 2.188rem;
  font-weight: 400;
  line-height: 1.8rem;
  letter-spacing: 0.03rem;
  margin-bottom: 1rem;
}
footer .main_footer .form_column p {
  color: #2f2f2f;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: 0.03rem;
  margin-bottom: 1rem;
}
footer .main_footer .form_column form input {
  width: 75%;
  background-color: #f6f6f6;
  padding: 0.75rem 2rem;
  border-radius: 1.25rem;
  border: none;
}
footer .main_footer .form_column form input:focus {
  border: none;
}
footer .main_footer .form_column form input::placeholder {
  color: rgba(47, 47, 47, 0.36);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.03rem;
}
footer .main_footer .form_column form button {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1rem;
  letter-spacing: 0.03px;
  width: 20%;
  padding: 0.875rem;
  border-radius: 1.25rem;
  border: none;
  background-color: #2f2f2f;
}
footer .supp_footer {
  padding: 3rem;
}
footer .supp_footer a {
  color: #2f2f2f;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.48rem;
}
footer .supp_footer h3 {
  color: #2f2f2f;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.03rem;
}
footer .supp_footer h3 a {
  color: #ff7f96;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.03rem;
  display: inline;
  margin: 0 0.1rem;
  padding: 0;
}
footer .supp_footer h3 a:hover {
  color: #82cbac;
  font-style: italic;
}