* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

img,
p,
span,
a {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 1130px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.direction-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

@mixin main_text_template($main-color, $fz, $fw, $lh, $ls) {
  color: $main-color;
  font-size: $fz;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}
