.first_sub__section {
  overflow: hidden;
  position: relative;
  .infinity_anim {
    display: flex;
    animation: scroll 40s linear infinite;
    img {
      width: 100%;
      height: auto;
    }
    @keyframes scroll {
      0% {
        transform: translateX(0%);
      }
      50% {
        transform: translateX(-50%);
      }
      100% {
        transform: translateX(0%);
      }
    }
  }
}

.second_sub__section {
  width: 100%;
  background-color: $liquid-color;
  padding: 4.438rem 6rem;
  .container {
    h2 {
      @include main_text_template($main-color, 4rem, 400, 4rem, 0.03rem);
      margin-bottom: 2rem;
    }
    p {
      @include main_text_template($main-color, 1.25rem, 400, 1.625, 0.03rem);
      margin-bottom: 3rem;
    }
    a {
      @include main_text_template(#fff, 1rem, 400, 1rem, 0.03rem);
      background-color: $main-color;
      width: fit-content;
      padding: 1rem 2.5rem;
      transition: 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
      &:hover {
        font-size: 1.15rem;
        border-radius: 1.5rem;
      }
    }
  }
}
